$primary: #7042e6;
$info: #0091ff;
$link-color: #343a40;
$border-radius : 0;
$btn-border-radius : .25rem;
$font-size-base: 14;
$body-color:#828790;
$table-dark-bg : #828790;
$table-border-color : #d9dbdd;
$modal-content-border-radius : 0;
$modal-content-border-width : 0;
$modal-inner-padding : 2rem;

@import '~bootstrap';
@import '~bootstrap-vue';

.modal-header {
  justify-content: center;
}
.modal-footer {
  justify-content: center;
  padding-top: 0;
  padding-bottom: 36px;
  .btn {
    min-width: 140px;
    padding: $btn-padding-x $btn-padding-y;
    font-weight: bold;
  }
}

.table {
  th {
    font-weight: 400;
  }
}

h6 {color: #333333;}
